
.header{
    height: 40vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    background: url('../../contentFiles/header-img.png') no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 5%;
    left: 1.5vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: rgb(232, 239, 233);
    font-size: max(4.5vw, 22px);
    text-shadow: 5px 5px 5px rgb(94, 5, 85);
}

.header-contents p{
    color: rgb(243, 220, 46);
    word-spacing: 2px;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
} 